.head h1{
	display: inline-block;
}

.head span{
	float: right;
	line-height: 60px;
}

.form-control{
	width: 60%;
	float: left;
}

@media only screen and (max-width: 1199px) {

	.form-control{
		width: 100%;
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 445px) {

	.head h1, .head span{
		width: 100%;
	}

	.head span{
		line-height: 1.5rem;
		margin-bottom: 1rem;
	}	
}